n8n/lead_gen_cost_tracked.json
{
    "name": "Phase 12 - LEAD GEN & EMAIL FINDER (The Growth Engine)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * *"
                        }
                    ]
                }
            },
            "name": "Daily Growth Signal",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM potential_leads WHERE status = 'PENDING' LIMIT 15"
            },
            "name": "Get Targets from PG",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "model": "gemini-1.5-flash",
                "prompt": "=Write a personalized cold email pitch to {{ $json[\"name\"] }} from MODYFIRE. Mention their recent video/post about {{ $json[\"topic\"] }}. Keep it under 100 words. Focus on how our AI summary tools save professors and podcasters 10 hours a week."
            },
            "name": "Gemini Personalized Pitch",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://api.hunter.io/v2/email-finder?domain={{ $json[\"domain\"] }}&first_name={{ $json[\"first_name\"] }}&last_name={{ $json[\"last_name\"] }}&api_key=YOUR_HUNTER_API_KEY",
                "options": {}
            },
            "name": "Hunter.io Email Finder",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "sheetId": "your-google-sheet-id",
                "range": "Leads!A:Z",
                "fieldsUI": {
                    "values": [
                        {
                            "name": "Date",
                            "value": "={{ $now }}"
                        },
                        {
                            "name": "Name",
                            "value": "={{ $node[\"Get Targets from PG\"].json[\"name\"] }}"
                        },
                        {
                            "name": "Email",
                            "value": "={{ $json[\"data\"][\"email\"] }}"
                        },
                        {
                            "name": "Pitch",
                            "value": "={{ $node[\"Gemini Personalized Pitch\"].json[\"content\"] }}"
                        },
                        {
                            "name": "Status",
                            "value": "READY_TO_SEND"
                        }
                    ]
                }
            },
            "name": "Log to Leads Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Daily Growth Signal": {
            "main": [
                [
                    {
                        "node": "Get Targets from PG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Targets from PG": {
            "main": [
                [
                    {
                        "node": "Gemini Personalized Pitch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Personalized Pitch": {
            "main": [
                [
                    {
                        "node": "Hunter.io Email Finder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hunter.io Email Finder": {
            "main": [
                [
                    {
                        "node": "Log to Leads Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}