n8n/sar_automation.json
{
    "name": "Phase 12 - SECURITY (SAR & GDPR Automation)",
    "nodes": [
        {
            "parameters": {
                "path": "sar-request",
                "options": {}
            },
            "name": "SAR Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "listFiles",
                "path": "=/user_uploads/{{ $json[\"body\"][\"user_id\"] }}"
            },
            "name": "Gather User Files",
            "type": "n8n-nodes-base.readBinaryFile",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "archiveFormat": "zip",
                "binaryPropertyName": "data"
            },
            "name": "ZIP User Data",
            "type": "n8n-nodes-base.compression",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "to": "={{ $node[\"SAR Webhook\"].json[\"body\"][\"email\"] }}",
                "subject": "Your Data Export (SAR Request)",
                "text": "Hello, attached is your complete data export as requested under GDPR SAR guidelines.",
                "attachments": "data"
            },
            "name": "Email Data Export",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                700,
                300
            ]
        }
    ],
    "connections": {
        "SAR Webhook": {
            "main": [
                [
                    {
                        "node": "Gather User Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gather User Files": {
            "main": [
                [
                    {
                        "node": "ZIP User Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ZIP User Data": {
            "main": [
                [
                    {
                        "node": "Email Data Export",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}