n8n/self_healing.json
{
    "name": "Phase 12 - ADMIN (Global Health & Error Trigger)",
    "nodes": [
        {
            "parameters": {
                "path": "error-webhook",
                "options": {}
            },
            "name": "Error Catch Hook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "sheetId": "your-google-sheet-id",
                "range": "Health!A:Z",
                "fieldsUI": {
                    "values": [
                        {
                            "name": "Time",
                            "value": "={{ $now }}"
                        },
                        {
                            "name": "Flow",
                            "value": "={{ $json[\"body\"][\"workflow_name\"] }}"
                        },
                        {
                            "name": "Node",
                            "value": "={{ $json[\"body\"][\"node\"] }}"
                        },
                        {
                            "name": "Message",
                            "value": "={{ $json[\"body\"][\"message\"] }}"
                        }
                    ]
                }
            },
            "name": "Log to Health Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "message",
                "operation": "send",
                "phoneNumberId": "YOUR_META_PHONE_ID",
                "recipientPhoneNumber": "YOUR_WHATSAPP_NUMBER",
                "messageType": "text",
                "text": "=🚨 CRITICAL ERROR: Flow '{{ $json[\"body\"][\"workflow_name\"] }}' failed at node '{{ $json[\"body\"][\"node\"] }}'. System needs manual repair."
            },
            "name": "WhatsApp Critical Alert",
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        }
    ],
    "connections": {
        "Error Catch Hook": {
            "main": [
                [
                    {
                        "node": "Log to Health Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log to Health Sheet": {
            "main": [
                [
                    {
                        "node": "WhatsApp Critical Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}